.ushout_pointercursor {
	cursor: pointer;
}
.ushout_pointercursor[disabled] {
	cursor: default;
}

.ushout_simplebox {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

.ushout_iconbutton {
	background-position-y: -100%;
}
.ushout_iconbutton:hover {
	background-position-y: -200%;
}
.ushout_iconbutton[disabled] {
	background-position-y: 0%;
}

#ushout_overlay_base {
	position: relative;
	
	overflow: visible;
	height: 1px;
	
	background-color: red;
	
	pointer-events: none;
}

#ushout_overlay {
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
	
	padding-bottom: 27px;
	
	box-sizing: content-box;
}

#ushout_toucharea {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 54px; /* this value should be the sum of controlBar height and another 40px for the Youtube control bar. */
	left: 0;
	
	background-color: transparent;
	
/*	pointer-events: auto; */
}

.ushout_controlitem {
	display: block;
	
	position: relative;
	
	background-color: transparent;
	
	pointer-events: auto;
}

.ushout_controlitem.ushout_leftaligned {
	float: left;
}

.ushout_controlitem.ushout_rightaligned {
	float: right;
}

/* tool tip */
*[ushout_tooltip] {
	position: relative;
}
*[ushout_tooltip]:before {
	display: block;
	opacity: 0;
	position: absolute;
	/* z-index for tooltips */
	z-index: 10;
	top: -23px;
	right: auto;
	left: 50%;
	border-radius: 2px;
	padding: 5px 8px;
	box-sizing: border-box;
	height: 20px;
	width: auto;
	background-color: rgba(51,51,51,0.9);
	/* set content to attribute value */
	content: attr(ushout_tooltip);
	text-align: center;
	font-size: 10px;
	line-height: 10px;
	color: white;
	white-space: nowrap;
	/* non-interactive */
	pointer-events: none;
	-webkit-transition: opacity 100ms linear;
	-moz-transition: opacity 100ms linear;
	-ms-transition: opacity 100ms linear;
	-o-transition: opacity 100ms linear;
	transition: opacity 100ms linear;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

*[ushout_tooltip][ushout_tooltip_rightaligned='true']:before {
	left: auto;
	right: 0px;
}

*[ushout_tooltip][demo="yes"]:before,
*[ushout_tooltip]:hover:before {
	opacity: 1;
	-webkit-transition: opacity 100ms linear;
	-moz-transition: opacity 100ms linear;
	-ms-transition: opacity 100ms linear;
	-o-transition: opacity 100ms linear;
	transition: opacity 100ms linear;
	-webkit-transition-delay: 300ms;
	-moz-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}