#ushout_ushoutbar {
	position: absolute;
	z-index: 999; /* Youtube HTML5 player sits at 900, its control bar sits at 930 */
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	
	height: 27px; /* controlBar height */
	
	background-color: white;
	
/*	pointer-events: auto; */
}

#ushout_ushoutbar .ushout_controlitem {
	height: 27px;
}

#ushout_rtc_controls_wrapper {
	position: absolute;
	top: 0;
	right: 0;
	
	padding: 0 0 0 27px;
	
	overflow: hidden;
	
	height: 100%;
	width: 150px;
	
	background-color: #1b1b1b; /* this is the youtube control bar background color */
	
	-webkit-transition: width 300ms;
	-moz-transition: width 300ms;
	-ms-transition: width 300ms;
	-o-transition: width 300ms;
	transition: width 300ms;
}

#ushout_rtc_controls_wrapper:before {
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	
	border-top: 27px solid #1b1b1b;
	border-right: 0;
	border-bottom: 0;
	border-left: 27px solid white;
	
	box-sizing: border-box;
	width: 27px;
	
	background-color: white;
	
	content: "";
}

/*========================================================*/

#ushout_rtc_toggle_frame {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	
	width: 120px;
}

#ushout_rtc_toggle_label {
	float: left;
	
	margin-left: 15px;
	
	height: 27px;
	
	font-size: 12px;
	line-height: 27px;
	color: white;
}

#ushout_rtc_toggle_switch {
	float: left;
	
	position: relative;
	
	margin: 5px 10px 0 10px;
	
	border-radius: 15px;
	
	padding: 0 5px;
	
	height: 15px;
	width: 60px;
	
	background-color: #757575;
	
	font-size: 10px;
	line-height: 15px;
	font-weight: bold;
	color: black;
}

/* the background color when the switch is ON */
#ushout_rtc_toggle_switch:before {
	position: absolute;
	
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	
	border-radius: 15px;
	
	width: 25%;
	
	background-color: #d00000;
	
	content: "";
	
	-webkit-transition: width 300ms;
	-moz-transition: width 300ms;
	-ms-transition: width 300ms;
	-o-transition: width 300ms;
	transition: width 300ms;
}

#ushout_rtc_toggle_switch_label_on {
	position: absolute;
	top: 0;
	left: 5px;
	bottom: 0;
	
	color: white;
	
	pointer-events: none;
}

#ushout_rtc_toggle_switch_label_off {
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	
	color: black;
	
	pointer-events: none;
}

#ushout_rtc_toggle_switch_handle {
	position: absolute;
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
	
	margin: -1px -1px;
	border-radius: 17px;
	padding: 1px 1px;
	
	box-sizing: content-box;
	height: 100%;
	width: 50%;
	
	background-color: #dddddd;
	
	-webkit-transition: left 300ms;
	-moz-transition: left 300ms;
	-ms-transition: left 300ms;
	-o-transition: left 300ms;
	transition: left 300ms;
}

/*========================================================*/

#ushout_rtc_expanded_controls_wrapper {
	position: absolute;
	top: 0;
	right: 120px;
	bottom: 0;
	left: 27px;
	
	overflow: hidden;
	
	opacity: 0;
}

/*========================================================*/

#ushout_rtc_channels_frame {

}

#ushout_rtc_channels_wrapper {
	position: relative;
	margin: 2px 0;
	border: 1px solid #474747;
	border-radius: 3px;
	
	height: 23px;
	width: 100px;
}

#ushout_rtc_channels_label {
	display: block;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: 5px;
	
	font-size: 12px;
	line-height: 23px;
	color: #757575;
}

#ushout_rtc_channels_expand_button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
	
	height: 21px;
	width: 22px;
	
	outline: none;
}

/* rtc on ======================================*/
body.ushout_rtc #ushout_rtc_controls_wrapper {
	overflow: visible;
	width: 100%;
	-webkit-transition: width 300ms;
	-moz-transition: width 300ms;
	-ms-transition: width 300ms;
	-o-transition: width 300ms;
	transition: width 300ms;
}

body.ushout_rtc #ushout_rtc_toggle_switch:before {
	width: 75%;
	
	-webkit-transition: width 300ms;
	-moz-transition: width 300ms;
	-ms-transition: width 300ms;
	-o-transition: width 300ms;
	transition: width 300ms;
}

body.ushout_rtc #ushout_rtc_toggle_switch_handle {
	left: 50%;
	-webkit-transition: left 300ms;
	-moz-transition: left 300ms;
	-ms-transition: left 300ms;
	-o-transition: left 300ms;
	transition: left 300ms;
}

body.ushout_rtc #ushout_rtc_expanded_controls_wrapper {
	overflow: visible;
	
	opacity: 1;
	
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}