/*video list*/
.video_list{
    font-size:85%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 750px;
    overflow-y: scroll;
    margin: 0px;
    margin-top: 10px;
    padding:0;
}

.video_name {
	display: block;
	float: none;
	color:lightgray;
	font-size:1.25em;
	font-weight:bold;
	margin-bottom:.2em;
}

.video_name a {
	color: white;
}

.video_list_item {
	cursor:pointer;
	position:relative;
	box-sizing: border-box;
	width: 470px;
	height: 250px;
	margin-top: 14px;
	margin-right: 5px;
	margin-left: 5px;
    border: 1px solid #333;
	float: left;
	padding:10px;
	padding-top:4px;
	border-radius:5px;
}

.video_options{
	position:absolute;
	right:4px;
	top:5px;
	font-size:.9em;
	display:none;
}

.video_list_item:hover > .video_options{
	display:block;
}

.video_embed{
	float: left;
	width: 204px;
	height: 115px;
	background-color:gray;
}

.video_stats
{
	float: right;
	width:16.5em;
}

.video_stat_item{
	font-size:1.1em;
}

#overlay{
	position:relative;
	width:100%;
	height:100%;
	opacity:.5;
	z-index:4;
	display:none;
	background-color:white;
}

.video_description span {
	height: 40px;
	
	display: block;
	overflow: hidden;
	/*white-space: nowrap;*/
	text-overflow: ellipsis;	
}

#submit_video{
	width:200px;
	height:200px;	
}

#add_video{
	color:black; 
	background-color:white;
	padding:1em;
	position:absolute;
	height:40em;
	width:30em;
	top:50%;
	left:50%;
	margin-top:-21em;
	margin-left:-15em;
	border:1px solid gray;
	border-radius:5px;
	display:none;
	z-index:5;
}

#upload_title{
	width:100%;
	text-align:center;
	font-size:1.25em;
	margin-bottom:.25em;
}

.close_window
{
	position:absolute;
	right:0;
	top:0;
	width:1.25em;
	height:1.25em;
	text-align:center;
	font-size:.75em;
	border:1px solid gray;
	border-radius:0px 5px 0px 5px;
}

.close_window:hover{
	border-color:red;
	background-color:red;
	color:white;
}

.add_info{
	color:#008CBA;
	font-size:.9em;
	padding-left:.25em;
	cursor:pointer;
}

.selected_attr{
	padding-left:.25em;
	height:1.1em;
	margin-bottom:.1em;
	border-left:4px solid lightgreen;
	cursor:pointer;
	font-weight:600;
}

.unselected_attr{
	padding-left:.25em;
	height:1.1em;
	margin-bottom:.1em;
	border-left:4px solid red;
	cursor:pointer;
}

.video_standard_input {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 1px solid #c1c1c1;
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    box-sizing: border-box;
    height: 28px;
    width: 200px;
    font-size: 14px;
    line-height: 100%;
    outline: none;
}

input.video_prompt[type='button'] {
    height: 25px; 
    margin-left: 5px;
    border: 1px solid red;
    box-sizing: border-box;    
    border-radius: 3px;
    padding: 0 15px;
    background-color: red;
    font-size: 14px;
    line-height: 100%;
    color: white;
    outline: none;
}

/*video list end*/
